

<h1>Welcome to Weather by Braden</h1>
<p>Please use the search bar to enter your zipcode! This is a simple mock up that uses the openweather api to generate a rudimentary forecast and current weather temperatures accurate to 30 minutes, courtesy of Ruby's caching mechanism. The styling was done using Bootstrap. </p>
<p id="notice"><%= flash[:notice] %></p>
<br>