<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= JSON.pretty_generate(@daily)%>
 
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
